<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <substitutionProperty name="logs.base" value="./logs"/>
    <substitutionProperty name="logs_name.base" value="java-mindmap/dubbo-server"/>
    <substitutionProperty name="logs_level" value="INFO"/>
<!--    <substitutionProperty name="logs.base" value="./logs/"/>-->
<!--    <substitutionProperty name="logs_name.base" value="log"/>-->
<!--    <substitutionProperty name="logs_level.base" value="debug"/>-->

    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符

                              value="%d{MM-dd HH:mm:ss.SSS}-[%thread] %logger{0}.%method[%F.%L]: %msg%n"/>
                              value="%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) | %msg%n"/>
    -->

    <substitutionProperty name="logs.pattern"
                          value="%d{MM-dd HH:mm:ss.SSS} %highlight(%-5level) --- [%boldGreen(%thread)] %cyan(%logger{0}.%method): %msg  %n"/>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logs.base}/${logs_name.base}_info.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logs.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logs.base}/${logs_name.base}_info.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logs.base}/${logs_name.base}_error.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logs.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logs.base}/${logs_name.base}_error.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logs.base}/${logs_name.base}_debug.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logs.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logs.base}/${logs_name.base}_debug.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logs.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="asyncInfo" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="info"/>
    </appender>

    <appender name="asyncError" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>2048</queueSize>
        <appender-ref ref="error"/>
    </appender>

    <root level="${logs_level}">
<!--        <appender-ref ref="asyncError"/>-->
<!--        <appender-ref ref="asyncInfo"/>-->
        <appender-ref ref="console"/>
    </root>

</configuration>